/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

h1 {
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
}
/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Style the list items */
ul li, .list-header {
  padding: 12px 50px;
  background: #E8DDB5;
  font-size: 18px;
  transition: 0.2s;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 10px;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #FFFBDB;
}

/* Darker background-color on hover */
ul li:hover, .checked:hover {
  background: #ddd;
  color: #2a2b38;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #505168;
  color: #fff;
}
  
/* Add a "checked" mark when clicked on */
/* ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0; */
  /* top: 10px; */
  /* left: 0px; */
  /* transform: rotate(45deg);
  height: 15px;
  width: 7px;
  margin: 10px;
} */

ul li input[type="checkbox"] {
  position: absolute;
  visibility: visible;
}


li div.checked:hover {
  border-color: #505168;
}

/* hide the input named 'default box for .checked li */
ul li.checked input[type="checkbox"]:checked {
  visibility: hidden;
  /* content: ''; */
  /* position: absolute; */
}
li div.checked {
  position: relative;
  cursor: pointer;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  /* top: 10px; */
  /* left: 0px; */
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
  margin: 10px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
  
.close:hover {
  background-color: #f44336;
  color: white;
}
  
/* Style the header */
.header {
  background-color: #68C3D4;
  padding: 30px 40px;
  color: white;
  text-align: center;
}
  
/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}
  
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

label {
  cursor: pointer;
}

input[type="text"] {
  float: center;
  width: auto;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  background-color: #004777;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
    background-color: #0063a5;
}

/* red delete button */
.delete {
  background-color: #DF2935; 
}

.delete:hover {
  background-color: #ac202a;
}

.reorder {
  position: absolute;
  float: right;
  /* right: 50px; */
  margin: 10px;
  margin-left: 25px;
  padding: 10px;
}

.reorder-mode {
  background-color: #505168;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* .reorder-icon {
  color:#2a2b38
} */

/* media queries */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }
  ul li {
    font-size: 12px;
    padding: 5px 10px;
    /* grid-template-columns: repeat(1, 1fr);
    padding: 12px 20px; */
  }
  /* .header {
    padding: 20px 0;
  } */
  .container {
    max-width: 100%;
  }
  .button{
    padding: 8px 8px;
    font-size: 12px;
  }
}
